.player {
    min-height: 50px;
    background-color: lightseagreen;
    color: white;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.card {
    min-width: 70px;
    max-width: 250px;
    min-height: 102px;
    max-height: 363px;
    border: 2px solid deeppink;
    text-align: center;
    margin: 5px auto;
}